body {
	background-color: white; /* #fff8b7*/
	font-family: "Calibri"; 
}

.siteBody{
	background-color: white;
}

.banner {
	background-color: #f2f2f2;
	padding: 5px;
	display: flex;
	flex-direction: row;
	
}

.banner .logoContainer{
	float: left;
	width: 170px;
	height: 75px;
	
	/*
	border-width: 1px;
	border-color: black;
	border-style: solid;
	*/
}

.banner .logoContainer img {
	/*background-image: url('../images/SocDocMainLogo.png');
	background-size:cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 100px;
	*/
	
	height: 100%;
}

.searchContainer {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 2px;
	text-align: left;
	width: 550px;
	margin: auto;
	border-radius: 5px;
}

.banner input[type=text]{
	padding: 6px;
	border: none;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 16px;
	font-size: 17px;
	width: 95%;
}

.banner input:focus {
    outline: none;
}

.banner .searchContainer button {
	float: right;
	padding: 15px;
	background: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
	
	/*
	border-width: 1px;
	border-color: black;
	border-style: solid;
	*/
}

button:focus {
	outline: none;
}


.banner i{
	color: #7f7f7f;
}

.banner .links{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	
	float: right;
	width: 300px;
	height: 75px;
	
	/*
	border-width: 1px;
	border-color: black;
	border-style: solid;
	*/
}

.banner .links .item{
	display: flex;
	flex-direction: column;
	
	width: 30%;
	height: 100%;
	
	/*
	border-width: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.banner .links .item .icon{
	text-align: center;
	width: 100%;
	height: 70%;
	padding-top: 5px;
	
	/*
	border-width: 1px;
	border-color: green;
	border-style: solid;
	*/	
}

.banner .links .item .icon img {
	/*background-image: url('../images/SocDocMainLogo.png');
	background-size:cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 100px;
	*/
	
	height: 100%;
}

.banner .links .item .label{
	width: 100%;
	height: 30%;
	padding-bottom: 5px;
	
	text-align: center;
	color: #7f7f7f;
	font-weight: bold;
	text-decoration: none;
	
	/*
	border-width: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.banner .links .item a{
	text-decoration: none;
}

.banner .links img{
	
}

.navBar{
	background-color: white;
	padding-left: 10px;
	overflow: hidden;
	
	border-bottom: 1px;
	border-bottom-color: #f2f2f2;
	border-bottom-style: solid;
}

.navBar a{
	float: left;
	background-color: white;
	color: #7f7f7f;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	padding: 5px 10px;
}

.navBar a:hover {
  text-decoration: underline;
}

.navBar a.active {
  color: red;
}

.navBar-right {
  float: right;
}

.center{
	text-align: center;
}

button:focus {
	outline: none;
}


.catalogContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.filterNav{
	width: 20%;
	height: 100%;

	border: 1px;
	border-color: blue;
	border-style: solid;
}

.catalog {

	width: 75%;

	background-color: #fff8b7;

	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-gap: 25px;
	
	justify-items: center;

	padding: 20px;

	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.catalog .item {
	
	width: 215px;
	height: 270px;
	padding: 10px;
	
	text-align: center;
	background-color: white;
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.catalog .item .imageBG {
	background-color: #f2f2f2;
	
	display: inline-block;
}

.catalog .item img{
	width: 90%;
	height: 52%;	

	padding: 8px;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.catalog .item .itemInfo{
	display: inline-block;

	width: 90%;
	height: 20%;

	padding: 5px;

	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.catalog .item .itemButtons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	
	width: 100%;
	height: 16%;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.catalog .item .itemButtons button{
	width: 100%;
	height: 100%;
	
	text-align: center;
	
	line-height: 100%;
	font-weight: bold;
	
	background-color: #feef4a;
	
	border-radius: 5px;
}

.catalog .item .itemButtons .itemDetails{
	width: 40%;
	height: 100%;
	
	text-align: center;
	
	background-color: #f2f2f2;
	
	border-radius: 5px;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.catalog .item .itemButtons .addToCart{
	width: 50%;
	height: 100%;
	
	text-align: center;
	
	background-color: #feef4a;
	
	border-radius: 5px;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.loginBody{
	background-color: #fff8b7;
	text-align: center;
	width: 100%;
	height:100%;
}

.loginContainer{
	
	width: 500px;
	height: 430px;
	margin-top: 65px;
	
	text-align: center;
	display: inline-block;
	
	text-align: center;

	background-color: white;
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.loginContainer .formContainer{
	
	height: 65%;
	
	text-align: center;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.fieldLine {
	padding: 10px;
}

.fieldLine .textInput {
	height: 30px;
	
	border-width: .5px;
	border-radius: 5px;
}

.textInput {
	height: 30px;
	
	border-width: .5px;
	border-radius: 5px;
}

.largeTextInput {
	height: 200px;
	width: 570px;
	
	font-family: "Calibri"; 
	
	border-width: .5px;
	border-radius: 5px;
}

.loginContainer input:focus {
    outline: none;
}

.loginContainer .logoContainer{
	min-width: 170px;
	height: 75px;
	
	padding-top: 20px;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
	
}

.loginContainer .logoContainer img{
	width: 170px;
	height: 75px;
	
	display: block;
	margin: 0 auto;
}

.loginContainer .formContainer .buttons{
	display: inline-block;
	
	text-align: center;
	
	width: 85%;
	height: 25%;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.loginContainer .formContainer .buttons .signInButton {
	background-color: #fff8b7;
	
	height: 50%;
	
	border-radius: 5px;
}

.loginContainer .formContainer .buttons .createAccountButton {
	
	height: 50%;
	
	padding-top: 20px;
	
	font-size: 10pt;
	
	border-radius: 5px;
}

.createAccountBody{
	background-color: #fff8b7;
	text-align: center;
	width: 100%;
	height:100%;
}

.createAccountContainer{
	
	margin-top: 65px;
	
	width: 450px;
	height: 480px;
	display: inline-block;
	text-align: center;
	
	background-color: white;
	
	padding: 0 0 0 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.createAccountContainer input:focus {
    outline: none;
}

.createAccountContainer .formContainer{
	
	height: 75%;
	width: 75%;
	
	text-align: center;
	display: inline-block;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.createAccountContainer .formContainer .fieldLine{
	padding: 0px;
	margin: 0px;
	
	text-align: left;
}

.createAccountContainer .formContainer .buttons{
	display: inline-block;
	
	text-align: center;
	
	width: 85%;
	height: 25%;
}

.createAccountContainer .formContainer .buttons .createAccountButton {
	
	background-color: #f2f2f2;
	
	height: 50%;
	
	border-radius: 5px;
	
	font-weight: bold;
}

.createAccountStatusContainer{
	
	margin-top: 65px;
	
	width: 450px;
	height: auto; 
	display: inline-block;
	text-align: center;
	
	background-color: white;
	
	padding: 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.createAccountStatusContainer img{
	padding-top: 20px;
	
	width: auto;
	height: 150px;
}

.createAccountStatusContainer a{
	text-decoration: none;
	color: #7f7f7f;
}

.homepageBody{
	text-align: center;
	width: 100%;
	height: 100%;
	display: inline-block;
	
	background-image: url("../images/HomePageSocks.png");
	background-color: #fff8b7;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.homepageBody .homepageContent{
	padding-top: 75px;
	
	text-align: center;
	
	/*
	border: 1px; 
	border-style: solid;
	border-color: blue;
	*/
}

.homepageBody .homepageContent .contentBlock{
	width: 100%;
	height: 25%;

	display: inline-block;
	text-align: center;
	
	/*
	border: 1px; 
	border-style: solid;
	border-color: blue;
	*/
}

.homepageBody .homepageContent .browseButton{
	
	width: 15%;
	height: 45px;
	
	margin-top: 25px;
	
	display: inline-block;
	text-align: center;
	line-height: 45px;
	
	text-align: center;
	color: black;
	font-weight: bold;
	background-color: #feef4a;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
	
	border-radius: 5px;
}

.homepageBody .homepageContent .browseButton a {
	text-decoration:none;
}

.homepageBody .homepageContent .browseButton a:hover {
	color: black;
	text-decoration: underline;
}

.homepageBody .homepageContent .browseButton a:active {
	color: black;
	text-decoration: none;
}

.returnPolicyBody{
	background-color: #fff8b7;
	text-align: center;
	width: 100%;
	height:auto;
}

.returnPolicyBody .returnPolicyContainer{
	margin-top: 25px;
	margin-bottom: 25px;
	
	width: 95%;
	height: auto;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	
	background-color: white;
	
	padding: 0 20px 20px 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.returnPolicyBody .returnPolicyContainer a{
	color: #7f7f7f;
}

.termsOfServiceBody{
	background-color: #fff8b7;
	text-align: center;
	
	width: 100%;
	height:auto;
	
}

.termsOfServiceBody .termsOfServiceContainer{
	margin-top: 25px;
	margin-bottom: 25px;
	
	width: 95%;
	height: auto;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	
	background-color: white;
	
	padding: 0 20px 20px 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.termsOfServiceBody .termsOfServiceContainer a{
	color: #7f7f7f;
}

.privacyPolicyBody{
	background-color: #fff8b7;
	text-align: center;
	
	width: 100%;
	height:auto;
}

.privacyPolicyBody .privacyPolicyContainer{
	margin-top: 25px;
	margin-bottom: 25px;
	
	width: 95%;
	height: auto;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	
	background-color: white;
	
	padding: 0 20px 20px 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.privacyPolicyBody .privacyPolicyContainer a{
	color: #7f7f7f;
}

.contactUsBody{
	background-color: #fff8b7;
	text-align: center;
	
	width: 100%;
	height:auto;
}

.contactUsBody .contactUsContainer{
	margin-top: 25px;
	margin-bottom: 25px;
	
	width: 95%;
	height: auto;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	
	background-color: white;
	
	padding: 0 20px 20px 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer{
	width:100%;
	height: auto;
	
	padding-top: 15px;
	
	display:flex;
	flex-direction: row;
	
	text-align:center;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .contactFormContainer{
	width: 80%;
	height: auto;
	
	display: flex;
	flex-direction:column;
	text-align:center;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .contactFormContainer .contactForm{
	width: 100%;
	height: auto;
	
	text-align:center;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .contactFormContainer .contactFormInfo{
	width: 100%;
	height: auto;
	
	text-align:left;
}

.contactUsBody .contactUsContainer .contactContentContainer .messageFieldLine{
	width:100%;
	height: auto;
	
	display:flex;
	flex-direction: row;
	
	justify-content:center;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .contactLinks{
	width: 20%;
	height: auto%;
	
	padding: 10px;
	
	display:flex;
	flex-direction: column;
	text-align:center;
	
	justify-content:center;
	align-items: center;
	
	background-color: #f2f2f2;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .pointsOfContact{
	width: 100%;
	height: auto;
	
	text-align:left;
	
	background-color:white;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.contactUsBody .contactUsContainer .contactContentContainer .socialMediaGridContainer{
	display: grid;
	
	width: 40%;
	
	grid-gap: 5px;
	grid-template-columns: auto auto auto;
	padding: 10px;
	padding-bottom:30px;
}

.contactUsBody .contactUsContainer .contactContentContainer .socialMediaGridItem{
	width: 40px;
	height: 40px;
	
	padding: 2px;
	
	background-color: #f2f2f2;
	padding: 5px;
	font-size: 10pt;
	text-align: center;
}

.contactUsBody .contactUsContainer .contactContentContainer .socialMediaGridItem img{
	width: 40px;
	height: 40px;
}

.sendMessageButton{
	width: 80px;
	height: 40px;
	
	padding-top: 5px;
	
	font-size: 14pt;
	font-weight:bold;
	
	border-radius: 5px;
}

.aboutUsBody{
	background-color: #fff8b7;
	text-align: center;
	
	width: 100%;
	height:100%;
}

.aboutUsBody .aboutUsContainer{
	margin-top: 25px;
	margin-bottom: 25px;
	
	width: 60%;
	height: auto;
	overflow-y: auto;
	display: inline-block;
	text-align: left;
	
	background-color: white;
	
	padding: 0 20px 20px 20px;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.aboutUsBody .aboutUsContainer img {
	width: 200px;
	height: 200px;
	
	border-radius: 50%;
}

.aboutUsBody .aboutUsContainer .foundersImagesContainer{
	width: 100%;
	height: 240px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	text-align: center;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.aboutUsBody .aboutUsContainer .foundersImagesContainer .foundersImage{
	width: 33%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.aboutUsBody .aboutUsContainer .foundersImagesContainer .foundersImage .photo{
	width: 100%;
	height: 200px;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.aboutUsBody .aboutUsContainer .foundersImagesContainer .foundersImage .caption{
	width: 100%;
	height: auto;
	
	padding-top: 15px;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.itemDetailBody{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	
	/*
	border: 1px;
	border-color: red;
	border-style: solid;
	*/
}

.itemDetailBody .itemViewContainer{
	width: 40%;
	height: auto;
	
	text-align:center;
	
	padding: 20px;
	
	background-color: #fff8b7;
	
	/*
	border: 1px;
	border-color: blue;
	border-style: solid;
	*/
}

.itemDetailBody .itemViewContainer .itemView{
	width: fit;
	height: auto;

	text-align: center;
	
	padding: 10px;
	
	background-color: white;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
}

.itemDetailBody .itemDetailContainer{
	width: 50%;
	height: auto;
	
	padding: 20px;
	
	background-color: #f2f2f2;
	
	/*
	border: 1px;
	border-color: green;
	border-style: solid;
	*/
}

.itemDetailBody .itemDetailContainer .itemDetail{
	width: fit;
	height: auto;

	text-align: left;
	
	padding: 10px;
	
	background-color: white;
	
	-moz-box-shadow: 0 0 10px #7f7f7f;
	-webkit-box-shadow: 0 0 10px #7f7f7f;
	box-shadow: 0 0 10px #7f7f7f;
}

.itemDetailBody .img-zoom-container {
  position: relative;
  
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  /*
  border: 1px;
  border-color: green;
  border-style: solid;
  */
}

.itemDetailBody .img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.itemDetailBody .img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 125px;
  height: 125px;
  
  align-self: flex-end;
}

.itemDetailBody .itemViewContainer .itemView img{
	width: 400px;
	height: 320px;
}

.itemDetailBody .itemDetailInfoContainer{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	
	/*
	border: 1px;
    border-color: red;
    border-style: solid;
	*/
}

.itemDetailBody .itemDetailInfoContainer .itemOptions{
	width: 40%;
	height: auto;
	
	display: flex;
	flex-direction: column;
	
	padding-left: 20px;
	
	/*
	border: 1px;
    border-color: blue;
    border-style: solid;
	*/
}

.itemDetailBody .itemDetailInfoContainer .itemInfo{
	width: 60%;
	height: auto;
	
	display: flex;
	flex-direction: column;
	
	padding-right: 20px;
	
	/*
	border: 1px;
    border-color: green;
    border-style: solid;
	*/
}

.itemDetailBody .itemDetailInfoContainer .header{
	color: 7f7f7f;
	font-weight: bold;
	font-size: 14pt;
}

.itemDetailBody .itemDetailInfoContainer .itemOptions .custom-select{
  position: relative;
  font-family: "Calibri";
  
  border: 6px solid #f2f2f2;
}

.itemDetailBody .itemDetailInfoContainer .itemOptions .custom-select select{
	display: none; /*hide original SELECT element:*/
}

.itemDetailBody .itemDetailInfoContainer .itemOptions .select_selected{
	background-color: #f2f2f2;
}

/*style the arrow inside the select element:*/
.itemDetailBody .itemDetailInfoContainer .itemOptions .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid #f2f2f2;
  border-color: #7f7f7f transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.itemDetailBody .itemDetailInfoContainer .itemOptions .select-selected .select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.itemDetailBody .itemDetailInfoContainer .itemOptions .select-items div,.select-selected {
  color: #7f7f7f;
  padding: 8px 16px;
  border: 1px solid #f2f2f2;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.itemDetailBody .itemDetailInfoContainer .itemOptions .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.itemDetailBody .itemDetailInfoContainer .itemOptions .select-hide {
  display: none;
}

.itemDetailBody .itemDetailInfoContainer .itemOptions .select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.addToCart{
	width: 200px;
	height: 50px;
	
	text-align:center;
	font-weight: bold;
	font-size: 16pt;
	line-height: 50px;
	
	background-color: #feef4a;
	border-radius: 5px;
}

.addToCart button{
	width: 200px;
	height: 50px;
	
	text-align:center;
	font-weight: bold;
	font-size: 16pt;
	line-height: 50px;
	
	background-color: #feef4a;
	border-radius: 5px;
}