{% extends "base.html" %}

{% block content %}
	
	<h1>Catalog</h1>
	
	<div class='catalogContainer'>
		
		<div class='filterNav'>
			*Filter Nav Area*
		</div>
		
		<div class='catalog'>
			{% for item in catalog.items %}
				<div class='item'>
					<a href={{ url_for('itemDetail', item=item.name) }} style='text-decoration: none; color: black;'>
						<div class='imageBG'>
							<img src={{ item.imagePath }} alt="Catalog item image" />
						</div>
					</a>
					<div class='itemInfo'>
						<b>${{ item.price }}</b><br>
						{{ item.name }}
					</div>
					<div class='itemButtons'>
						<div class='itemDetails'>
							Details
						</div>
						<div class='addToCart'>
							<button
							class="snipcart-add-item"
							data-item-id={{ item.itemID }}
							data-item-name={{ item.name }}
							data-item-price={{ item.price }}
							data-item-image={{ item.imagePath }}
							data-item-url="http://myapp.com/products/bacon"
							data-item-custom1-name="Size"
							data-item-custom1-options="{{ item.size[0] }} | {{ item.size[1] }}| {{ item.size[2] }}">
								Add to Cart
							</button>
						</div>
						
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}