{% extends "base.html" %}

{% block content %}
<!-- Return Policy generator link: https://www.volusion.com/tools/return-policy-success?u=53616c7465645f5fa8a2191f6d322bb7ed5a5d56fd79fd283b398ae820453f21bee51061722bc2f1dbdd097e05b76bb25b663b44497ecbb2517590aaba447ad4a069ad930ec4aa50976736429d2b8cc1cca7f331829a5bf395020324ec12b212959a6972ac057fcae34c97525cbba131f978dc7c56fa16360dac34807c2592ef68496302fdfebc42248ea0fadfe980fd24f8fca5055bdbf61938732368a1a018e2ce7ebd64da2c04ae19e9d2e0b69ca7ae1fc558a79da13648d73638eaa33f3c -->
	<div class="returnPolicyBody">
		<div class="returnPolicyContainer">
			<h1>Return Policy</h1>
		
			<h3>All defined terms used below shall have the meanings set forth in our Terms and Conditions. See <a href={{ url_for('termsOfService') }}>Terms of Service</a>.</h3>
			
			<h3>Order Cancellations</h3>
			<p>
				Orders that you submit online are processed immediately and may not be cancelled, and you may need to wait until you receive the merchandise in order to return it.
			</p>
			
			<h3>Returns</h3>
			<p>
				Once an item of merchandise is delivered to you, you can return that item within 30 days of delivery. To be eligible for a return, your merchandise must be unused and in the same condition that you received it and must be in the original packaging.  Our return policy does not apply to the following goods: [discounted or sale items, gift cards, personalized items, perishable goods such as food, flowers, newspapers or magazines, intimate apparel, sanitary goods, hazardous materials, or flammable liquids or gases][include any that are applicable].  These items are not eligible for return, refund or exchange.
			</p>
			
			<h3>Shipping</h3>
			<p>
				To initiate a return, please email us at s0937372@monmouth.edu.  We require a receipt or proof of purchase to accompany your return.
			</p>
			<p>
				All returned merchandise should be sent to us at 400 Cedar Ave, , West Long Branch, NJ, 07764.
			</p>
			<p>
				For items that are manufactured by another party and resold by Us, please do not send such item back to the manufacturer.
			</p>
			<p>
				You are responsible for paying for all shipping costs for your returned item. Shipping costs are non-refundable. If you receive a refund, the cost of any return shipping will be deducted from your refund. You should consider using a trackable shipping service or purchasing shipping insurance for items of value.
			</p>
			
			<h3>Refunds and Exchanges</h3>
			<p>
				After We have received your valid return, We will send you an email to notify you that We have received your returned item and notify you of the acceptance or rejection of your return.
			</p>
			<p>
				If your return is accepted by Us, We will provide one of the following within a reasonable time: an exchange of merchandise for the item returned, a non-transferable merchandise credit, a credit to the payment card or original method of payment used to pay for the item, a check, or another remedy that we determine in good faith is appropriate in the circumstances.
			</p>
			
			<h3>General</h3>
			<p>
				If you do not comply with any of the above conditions, We reserve the right to refuse the return or exchange, or to impose different or additional conditions.
			</p>
			
		</div>
	</div>
	
{% endblock %}